h1 {
  text-align: center;
}

iframe {
  width: auto;
  height: auto;
  padding: 0;
  display: block;
}

/* div .main_page {
  position: relative;
  offset: center;
}

div .song_image {
  max-width: 100%;
  height: auto;
  width: auto\8;
  position: absolute;
  offset: center;
} */
