<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='styles.css' ) }} />
    <base target="_blank">
    <script src={{ url_for('static', filename='script.js' ) }}></script>
    <title>CS490 Project 1</title>
</head>

<body>
    {% if song == None %}
    There was some error loading the website :/
    {% else %}
    <div id="music">
        <a href={{ song["song_url"] }}>
            <img src={{ song["image_url"] }} alt="this not working!" />
        </a>
        <div class="song_info">
            <span>Song: <a href={{ song["song_url"] }}>{{ song["name"] }}</a></span>
            </br>
            <div id="player">
                {% if song["song_preview"] != None %}
                <audio id="song" controls src={{ song["song_preview"] }}>
                    Your browser does not support the <code>audio</code> element.
                </audio>
                </br>
                {% else %}
                <span>Song preview not available</span>
                {% endif %}
            </div>
            </br>
            <span>
                {% if (song["artists"]|length) == 1 %}
                Artist:
                {% else %}
                Artists:
                {% endif %}
                {% for i in range(song["artists"]|length) %}
                <a href={{ song["artist_links"][i] }} style="display: inline;">
                    {{ song["artists"][i] }}
                </a>
                {% if i != ((song["artists"]|length) - 1) %}
                ,
                {% endif %}
                {% endfor %}
            </span>
            </br>
            <span>
                {% if song["genius_link"] != None %}
                <a href={{song["genius_link"]}}>Genius Lyrics</a>
                {% else %}
                <p>
                    {% if song["genius_artist_name"] != None %}
                    No lyrics page for this song, but you can checkout the artists page:
                    <a href={{song["genius_artist_link"]}}>
                        <img id="genius_artist_image" src={{song["genius_artist_image"]}}>
                        {{song["genius_artist_name"]}}
                    </a>
                    {% else %}
                    Could not find any Genius info :/
                    {% endif %}
                </p>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
</body>

</html>